{% set actualPath = path(app.request.attributes.get('_route'),
                       app.request.attributes.get('_route_params')) %}

<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <title>SLIDES</title>
        {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}

    </head>
    <body>
    <div class="logobox">
        <a href={% if actualPath starts with '/play' %}"{{ path('choose_stage') }}"{% else %}"{{ path('homepage') }}"{% endif %} {% if actualPath == "/" %}class="hidden"{% endif %}><button class="btn btn-outline-light "><i class="fa fa-caret-left"></i> Return</button></a>
        <a href="{{ path('homepage') }}"><img src="{{ asset('menu_images/mainlogo.png') }}" alt="SLIDES" class="logo"></a>
        
        
        
        {% if app.user %}
            <div class="profile">
                <button class="connect btn btn-outline-light">Profile <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="">View Profile <i class="fa fa-user-circle-o"></i></a>
                    <a class="bg-gradient-danger text-danger" href="{{path('security_logout')}}">Logout <i class="fa fa-sign-out"></i></a>
                </div>
            </div>
        {% else %}
            <button class="connect btn btn-outline-light">Login <i class="fa fa-sign-in"></i></button>
            <div class="box">
                <div class="login-box">
                    <h1>Login</h1>
                    <form class="form-login" method="post" action="{{path('security_login')}}">
                        <input required autocomplete="off" id="user" type="text" placeholder="Username" name="_username">
                        <input required autocomplete="off" id="pwd" class="input-log" type="password" placeholder="Password" name="_password">
                        <button class="btn btn-sm btn-dark mt-2" type="submit">Login</button>
                    </form> 

                    <a href="{{ path('security_registration') }}">No account ? create one</a>
                </div>
        {% endif %}
        </div>

    </div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>